footer{
    display: flex;
    background-color: #83A0B0;
    color: white;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
}

body {
    background-color: white;
    margin: 1%;
    padding: 1%;
}

navbar {
    background-color: #83A0B0;
}

nav-item {
    background-color: #B2E3FF; 
}

nav-item:hover {
    background-color: #83A0B0;
}

.btn {
    background-color: #B2E3FF; 
    border-color: #B2E3FF;
}

.btn:hover {
    background-color: #83A0B0;
    border-color: #83A0B0;
}

.image-header {
    display: flex;
    height: 30vh;
    margin-top: 0;
    justify-content: flex-end;
    padding-right: 5vw;
}

.background-image-contact {
    background-color: blue;
    background-image: url("../img/Step-Contact-Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 20vw;
}

fieldset {
    background-color: black;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
  }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.center-resource {
    display: flex;
    justify-content: center;
}

.contact-grid-container {
    display: grid;
    width: 500px;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.resource-contact {
    background: #83a0b0;
    border-radius: 10px;
    padding: 10px;
}


