p{
    display: flex;
    text-align: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: 'Montserrat', sans-serif;

}
.top{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15fr 1fr;
}
.thing{
    display: grid;
    background-color: #B2E3FF;
    grid-gap: 5px;
    grid-template-columns: 2fr 2fr 4fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;

}
.bio1{
    grid-column: 3 / 4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio2{
    grid-column: 3 / 4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio3{
    grid-column: 3 / 4;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio4{
    grid-column: 3 / 4;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio5{
    grid-column: 3 / 4;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio6{
    grid-column: 3 / 4;
    grid-row: 6/7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image1{
    grid-column: 2 / 3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(one.jpg);
    height:300px;
    width: 200px;
}
.image2{
    grid-column: 2 / 3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(two.jpg);
    height:300px;
    width: 200px;
}
.image3{
    grid-column: 2 / 3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(three.jpg);
    height:300px;
    width: 200px;
}
.image4{
    grid-column: 2 / 3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(four.jpeg);
    height:300px;
    width: 200px;
}
.image5{
    grid-column: 2 / 3;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(five.jpeg);
    height:300px;
    width: 200px;
}
.image6{
    grid-column: 2 / 3;
    grid-row: 6/7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-image: url(six.jpeg);
    height:300px;
    width: 200px;
}
iframe{
    display: block;
    height: 40vh;
    width:60vw;
    margin: 0 auto;
}
.picture{
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 50vh;
    background-image: url(big.png);
    margin-bottom: 3%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.application{
    background-color: #D9D9D9;
    text-align: center;
    margin-top: 10px;
}
.homepicture{
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 50vh;
    background-image: url(home.png);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
}
.mission{
    text-align: center;
    display: flex;
    font-size: 150%;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
}
body {background-color: white;
    }

h1{ text-align: center;
}

.faq-flex {
    display: flex;
    flex-direction: column;
}

.faq-header {
    text-align: center;
    font-family: 'Montserrat';
    padding: 3%;
    background-image: url("faq-image.jpg");
    margin-bottom: 20px;
}

.faq-question-container {
    text-align: center;
    background-color: #B2E3FF;
    font-family: 'League Spartan';
}

.faq-answer-container {
    text-align: center;
    font-family: 'League Spartan';
    margin-top: 6px;
}
footer{
    display: flex;
    background-color: #83A0B0;
    color: white;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
}
main{
    font-family: 'Montserrat';
}
.box{
    background-color: black;
}



nav-item:hover {
    background-color: #83A0B0;
}

.btn {
    background-color: #B2E3FF; 
    border-color: #B2E3FF;
}

.btn:hover {
    background-color: #83A0B0;
    border-color: #83A0B0;
}

.image-header {
    display: flex;
    height: 30vh;
    margin-top: 0;
    justify-content: flex-end;
    padding-right: 5vw;
}

.background-image-contact {
    background-color: blue;
    background-image: url("../img/Step-Contact-Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    width: 20vw;
}

fieldset {
    background-color: black;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
  }

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.center-resource {
    display: flex;
    justify-content: center;
}

.contact-grid-container {
    display: grid;
    width: 500px;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.resource-contact {
    background: #83a0b0;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
.navigation {
    justify-content: space-around;
}
}
      
@media screen and (max-width: 500px) {
.navigation {
    flex-flow: column wrap;
    padding: 0;
}
}